{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Comment List Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Comentarios {{comentarios.count}}
                            </h4>
                        </div>
                        <div class="bg-white border border-top-0 p-4">
                            {% for item in comentarios %}
                                <div class="media mb-4">
                                    <div class="media-body">
                                        <h6><a class="text-secondary font-weight-bold" href="">{{item.nome}}</a> <small><i>{{item.created_on}}</i></small></h6>
                                        <p>{{item.mensagem | linebreaks}}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Comment List End -->

                    <!-- Comment Form Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Novo Comentario</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-4">
                            <form action="{% url 'comentarios' noticia.id %}" method="post">
                                {% csrf_token %}
                                {{comentarioForm | crispy}}
                                <div class="form-group mb-0">
                                    <input type="submit" value="Enviar o Comentario " class="btn btn-primary font-weight-semi-bold py-2 px-3">
                                </div>
                            </form>
                        </div>
                    </div>
<!-- Comment Form End -->
{% endblock %}